/* generics */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

img {
    width: 100%;
}


/* utilities */

.vs-row {
    display: flex;
}

.vs-column {
    display: flex;
    flex-direction: column;
}

.vs-flex-grow {
    flex-grow: 1;
}


/* contents */

#root {
    height: 100vh;
    position: relative;
    overflow-y: hidden;
}

.vs-bg-lightgreen {
    background-color: #009688;
    height: 18vh;
    width: 100%;
    position: absolute;
    z-index: -1;
    margin-top: -5vh;
}

.vs-bg-lightgrey {
    background-color: #d9dbd5;
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -2;
}

.vs-boolzap-container {
    max-width: 1200px;
    height: 94vh;
    margin: 0 auto;
    background-color: white;
    margin-top: 3vh;
}

#left-side-app {
    width: 40%;
    height: 100%;
    overflow-y: scroll;
}

.vs-contact-avatar {
    width: 60px;
}

.vs-contact-avatar img {
    border-radius: 50%;
}




#right-side-app {
    width: 60%;
}


/* effects */




/* debug */

.vs-debug #left-side-app>div {
    min-height: 5vh;
    background-color: aqua;
    border: 1px solid grey;
}